heading-area-size     = 80px
left-pane-size        = 70px

right-pane-size       = 250px
theme-gray            = #B6C2C9
theme-grayer          = #81939E
theme-dark            = #1C2B36
theme-darker          = #0F1922
theme-green           = #4DBD74
theme-emerald         = #44C3C6
theme-orange          = #F4BA4A

theme-font            = #506470
theme-font-light      = #81939E
theme-font-reverse    = #B0BDC4