#application .left-pane
  position: fixed; top 0; bottom 0
  width: left-pane-size
  background-color: #1C2B36
  color: theme-font-reverse

  .branding
    position: absolute; top: 0
    width: 100%; height: heading-area-size

  .commands
    position: absolute; bottom: 0
    width: 100%; padding: 25px 0
    background-color: theme-darker
