#application .right-pane
  position: fixed; top: 0; bottom: 0; right: 0
  width: right-pane-size
  background-color: #ffffff
  color: theme-font

  .commands
    position: absolute; top: 0
    width: 100%; height: heading-area-size
    padding: 15px 20px 0 20px
